/*mobile-first*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --bg-body1: hsl(273, 75%, 66%);
    --bg-body2: hsl(240, 73%, 65%);
    --bg-card-text: hsl(0, 0%, 100%);
    --title-question: hsl(238, 29%, 16%);
    --hover-question: hsl(14, 88%, 65%);
    --answer: hsl(240, 6%, 50%);
}

body{
    background-image: linear-gradient(var(--bg-body1), var(--bg-body2));
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;/*por que ficou branco o fundo do body?*/
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    padding: 0 25px;
}

.card{
    box-shadow: 1px 20px 15px -15px #3e3988;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    width: 100%;
    text-align: center;
}

.card__img--desktop{

}

.card__img--mobile{
    transform: translateY(40%);
    width: 240px;
}

.card__text{
    background: var(--bg-card-text);
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding-left: 20px;  
    padding-right: 20px;
    padding-bottom: 20px;
}

.card__text--title{
    color: var(--title-question);
    font-size: 2rem;   
}

.card__text--faq{
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 10px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.card__text--faq-question{
    color: var(--title-question);
    margin: 0;
    font-size: 0.8rem;
}

.card__text--faq-question:hover{
    color: var(--hover-question);
}

.card__text--faq-icon{
    
}

.card__text--faq-answer{
    /* background-color: yellow; */
    color: var(--answer);
    display: none;
    text-align: left;
    width: 100%;
    padding-right: 20px;
}

hr{
    background-color: hsl(240, 5%, 91%);
    border-style: solid;
    border-width: 0px;
    height: 1px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.attribution{
    font-size: 0.7rem;
    text-align: center;
    text-shadow: 2px 2px 10px hsl(273, 75%, 68%);
}
    
a:visited{
    color: black;
}

/*desktop*/
@media screen and (min-width: 1440px){
    body{
        padding: 8% 15% 0;
    }

    .card{
        background: var(--bg-card-text);
        height: 650px;

        display: flex;
        flex-flow: row nowrap;
    }

    .card__img--desktop{
        width: 50%;/*por que não edita?*/
        height: 50%;
    }

    .card__text{
        height: 100%;
    }

    .card__text--img-desktop{
        width: 50%;
    }
    .card__text--title{
        
        font-size: 2rem;   
    }

    .card__text--faq{
        margin-top: 10px;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .card__text--faq-question{
        margin: 0;
        font-size: 0.8rem;
    }

    .card__text--faq-icon{
        
    }

    .card__text--faq-answer{
        /* background-color: yellow; */
        text-align: left;
        width: 100%;
        padding-right: 20px;
    }

    hr{
        margin: auto;
        margin-top: 10px;
    }

    .attribution{
        font-size: 0.7rem;
    }
}