/*mobile-first*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --bg-body1: hsl(273, 75%, 66%);
    --bg-body2: hsl(240, 73%, 65%);
    --bg-card-content: hsl(0, 0%, 100%);
    --title-question: hsl(238, 29%, 16%);
    --hover-question: hsl(14, 88%, 65%);
    --answer: hsl(240, 6%, 50%);
}

body{
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--bg-body1), var(--bg-body2));
    background-color: var(--bg-body2);
    height: 900px;
    margin: 0;
    padding: 150px 15px 0;
}

main.card{
    /* background-color: rgb(255, 209, 123); */
    /* overflow: hidden; */
    box-sizing: border-box;
    margin: auto;
}

div.card__content{
    background-color: pink;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 0 25px 25px;
    width: 100%;
    /* max-width: 450px; */
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

div.card__img{
    background-color: rgb(255, 192, 203);
    border-radius: 25px;
    box-sizing: border-box;
    height: 110px;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card__img--bg-mobile{
    
}

.card__img--mobile{
    width: 240px;

    transform: translateY(-120%);
}

img.card__box{
    display: none;
}

.card__title{
    color: var(--title-question);
    font-size: 2rem;
    /* text-align: center; */
}

.card__faq{
    background-color: rgb(255, 255, 172);
    width: 100%;
    margin-bottom: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.card__faq-question{
    color: var(--title-question);
    margin: 0;
}

.card__faq-answer{
    color: var(--answer);
    display: none;
    margin-right: 25px;
}

hr{
    background-color: hsl(0, 0%, 0%);
    border-style: solid;
    border-width: 0;
    height: 1px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
}