/*mobile-first*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --bg-body1: hsl(273, 75%, 66%);
    --bg-body2: hsl(240, 73%, 65%);
    --bg-card-text: hsl(0, 0%, 100%);
    --title-question: hsl(238, 29%, 16%);
    --hover-question: hsl(14, 88%, 65%);
    --answer: hsl(240, 6%, 50%);
}

body{
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--bg-body1), var(--bg-body2));
    margin: 0;
    padding: 5% 5% 0;
}

main.card{
    /* background-color: rgb(255, 209, 123); */
    /* overflow: hidden; */
    box-sizing: border-box;
}

div.card__img{
    background-color: rgb(255, 218, 225);
    border-radius: 25px;
    box-sizing: border-box;
    /* height: 250px;
    width: 100%; */

    position: relative;

    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
}

.card__img--bg-mobile{
    transform: translateY(-100%);
}

.card__img--mobile{
    width: 240px;

    transform: translateY(-100%);
}

img.card__box{
    display: none;
}

div.card__text{
    background-color: var(--bg-card-text);
    border-radius: 25px;
}


